body{
    font-family: Arial;
    background:#f4f4f4;
    margin:0;
    padding:20px;
    text-align:center;
}

h1{
    margin-bottom:30px;
}

.container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
}

.card-content{
    padding:15px;
}

.card-content h2{
    margin-top:0;
}
.card{
    text-decoration:none;
    color:black;
}